$primary: rgba(244, 155, 1, 1);

$primary-gradient: rgba(244, 155, 1, 1) !default;
$primary-gradient-state: rgba(251, 221, 168, 1) !default;

@font-face {
	font-family: "Satoshi";
	src: url("@zrm/motor-nx-core/assets/fonts/satoshi/Satoshi-Variable.ttf") format("truetype");
}

$font-family-sans-serif: 'Satoshi' !default;