.navbar-vertical {

  /** DFOX ADDED THIS */
  .navbar-nav ul .nav-link.active {
    box-shadow: none;
    background-color: $gray-200 !important;

  }
}

.form-check {
  padding-left: 0;
}
.form-check .form-check-input {
  margin-left: 0;
}

.navbar-vertical .navbar-nav > .nav-item .nav-link.active .icon {
  color: white;
}

.form-check:not(.form-switch) .form-check-input {
  &[type="checkbox"] {
    &:after {
      top: 6px;
      width: 50%;
      height: 50%;
      content: url('../img/check.svg');
    }
  }
}
.breadcrumb-item span {
  letter-spacing: -0.025rem;
}

.motor-navbar-top {
  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
      flex-direction: row !important;
    }
  }

  @media (min-width: 768px) {
    .navbar-nav {
      flex-direction: row !important;
    }
  }

  @media (min-width: 576px) {
    .navbar-nav {
      flex-direction: row !important;
    }
  }

  @media (max-width: 575px) {
    .navbar-nav {
      flex-direction: row !important;
    }
  }
}
.color-box {
  input {
    height: 50px;
  }
}

.multiselect {
  position: relative;
  margin: 0 auto;
  font-size: 0;
}

.multiselect > * {
  font-size: $font-size-sm;
}

.multiselect.is-searchable {
  cursor: auto;
}

.multiselect-input {
  display: block;
  width: 100%;
  font-size: $font-size-sm;
  font-weight: 400;
  line-height: 1.4rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d2d6da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.5rem;
  transition: box-shadow 0.15s ease, border-color 0.15s ease;
}

.multiselect-caret {
  position: absolute;
  right: 12px;
  top: 50%;
  color: #999;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: #999 transparent transparent;
  content: "";
  transform: translateY(-50%);
  transition: .3s transform;
}

.is-disabled .multiselect-input {
  background: #f9f9f9;
}

.is-open .multiselect-input {
  border-radius: 0.5rem;
}

.is-open .multiselect-caret {
  transform: translateY(-50%) rotate(180deg);
}

.multiselect-placeholder,
.multiselect-single-label,
.multiselect-multiple-label {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 14px;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  background: transparent;
}

.multiselect-placeholder {
  color: #777777;
}

.is-single .multiselect-search,
.is-multiple .multiselect-search {
  display: flex;
  height: 100%;
  width: 100%;
  background: transparent;
}

.is-single .multiselect-search input,
.is-multiple .multiselect-search input {
  width: 100%;
  border: 0;
  padding: 8px 35px 8px 14px;
  outline: none;
  background: transparent;
  font-size: $font-size-sm;
  font-family: inherit;
}

.is-single.no-caret .multiselect-search input,
.is-multiple.no-caret .multiselect-search input {
  padding: 8px 14px 8px 14px;
}

.is-tags .multiselect-search {
  flex-grow: 1;
}

.is-tags .multiselect-search input {
  outline: none;
  border: 0;
  margin: 0 0 5px 3px;
  flex-grow: 1;
  min-width: 100%;
  font-size: $font-size-sm;
  font-family: inherit;
}

.multiselect-clear {
  position: absolute;
  right: 5px;
  top: 2px;
  width: 36px;
  height: 36px;
  background: #fff;

  &:before, &:after {
    position: absolute;
    top: 12px;
    left: 16px;
    content: " ";
    height: 12px;
    width: 2px;
    background-color: #999;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  &:hover {
    &:before, &:after {
      background-color: #555;
    }
  }
}

.multiselect-tags {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding-left: 9px;
  margin-top: 5px;
  flex-wrap: wrap;
  padding-right: 36px;
}

.no-caret .multiselect-tags {
  padding-right: 9px;
}

.multiselect-tag {
  background: $primary;
  color: #fff;
  font-size: $font-size-sm;
  font-weight: 600;
  padding: 0 0 0 8px;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  cursor: text;
  white-space: nowrap;
}

.multiselect-tag i {
  cursor: pointer;
}

.multiselect-tag i:before {
  content: "\D7";
  color: $input-color;
  font-size: $font-size-sm;
  font-weight: 700;
  padding: 1px 5px 1px 5px;
  margin-left: 3px;
  display: flex;
  font-style: normal;
}

.multiselect-tag i:hover:before {
  color: #ffffff;
  background: rgba(255,255,255,0.2);
}

.is-disabled .multiselect-tag {
  background: #a0a0a0;
  padding: 1px 8px 1px 8px;
}

.multiselect-fake-input {
  background: transparent;
  width: 100%;
  height: 1px;
  border: 0;
  padding: 0;
  font-size: 0;
  margin-top: -1px;
  outline: none;

  &:active, &:focus {
    outline: none;
  }
}

.multiselect-options {
  position: absolute;
  left: 0;
  right: 0px;
  border: 1px solid #d2d6da;
  border-radius: 0.5rem;
  margin-top: -1px;
  max-height: 160px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  background: #ffffff;
}

.multiselect-option {
  display: flex;
  //min-height: 40px;
  padding: 9px 12px;
  box-sizing: border-box;
  //color: #222;
  text-decoration: none;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
}

.multiselect-option.is-pointed {
  background: #e6e6e6;
}

.multiselect-option.is-disabled {
  background: #f9f9f9;
  color: #a6a6a6;
  cursor: not-allowed;
}

.multiselect-option.is-selected {
  background: $primary;
  font-weight: bold;
  color: #ffffff;
}

.multiselect-option.is-selected.is-pointed {
  background: $primary;
  font-weight: bold;
}

.is-multiple .multiselect-option.is-selected,
.is-tags .multiselect-option.is-selected {
  color: $input-color;
  background: transparent;
}

.is-multiple .multiselect-option.is-selected.is-pointed,
.is-tags .multiselect-option.is-selected.is-pointed {
  background: #f1f1f1;
}

.multiselect-no-options,
.multiselect-no-results {
  display: flex;
  padding: 10px 12px;
  color: #777;
}

.multiselect-spinner {
  position: absolute;
  right: 12px;
  top: 0;
  width: 16px;
  height: 16px;
  background: #fff;
  display: block;
  transform: translateY(50%);
}

.multiselect-spinner:before,
.multiselect-spinner:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border-color: $primary transparent transparent;
  border-style: solid;
  border-width: 2px;
  box-shadow: 0 0 0 1px transparent;
}

.is-disabled .multiselect-spinner {
  background: #f9f9f9;
}

.is-disabled .multiselect-spinner:before,
.is-disabled .multiselect-spinner:after {
  border-color: #999999 transparent transparent;
}

.multiselect-spinner:before {
  animation: spinning 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
  animation-iteration-count: infinite;
}
.multiselect-spinner:after {
  animation: spinning 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
  animation-iteration-count: infinite;
}

.multiselect-enter-active {
  transition: all 0.15s ease;
}

.multiselect-leave-active {
  transition: all 0s;
}

.multiselect-enter,
.multiselect-leave-active {
  opacity: 0;
}

.multiselect-loading-enter-active,
.multiselect-loading-leave-active {
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
}
.multiselect-loading-enter,
.multiselect-loading-leave-active {
  opacity: 0;
}

@keyframes spinning {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(2turn);
  }
}
.drop-zone {
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px dashed gray;
  border-radius: 0.5rem;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &.over {
    color: $white;
    background-color: $primary;
  }
}
